#topMenu ul li {
  display: flex;
  flex-wrap: nowrap;
  padding: 0.7rem 1.5rem; /*Separar el texto*/
  margin: 0.5rem; /* Separar los botones */
  background-color: #82ccdd; /* Color de fondo */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration-line: none;
  background: linear-gradient(#02c2f1, #86dcf7, #7575c4);
  box-shadow: 5px 5px rgb(0, 0, 39);
  text-shadow: 2px 2px #0000FF;
}
#topMenu ul li:hover {
  background-color: #fad390; /* Color de fondo sobre el boton */
  cursor: pointer; /* cambiar el aspecto del puntero */
}

#topMenu {
  background-color: darkslategray;
  padding: 0.3rem 0.3rem;
}

.active {
  color: whitesmoke;
  font-weight: bold;
  text-decoration-line: none;
}

.inactive {
  color: #0a3d62;
  text-decoration-line: none;
}
